{% extends 'adminbase.html' %}
{% block content %}

<div class="content-body">
    <!-- row -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="stat-widget-two card-body">
                        <div class="stat-content">
                            <a href="{% url 'doctor_records' %}">
                            <div class="stat-text">Doctor Records</div>
                            </a>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="stat-widget-two card-body">
                        <div class="stat-content">
                            <a href="{% url 'register_doctor' %}">
                            <div class="stat-text">Register Doctor</div>
                            </a>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="stat-widget-two card-body">
                        <div class="stat-content">
                        <a href="{% url 'approve_doctor' %}">
                            <div class="stat-text">Approve Doctor</div>
                        </a>
                        </div>
                       
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="stat-widget-two card-body">
                        <div class="stat-content">
                        <a href="{% url 'doctor_specialization' %}">
                            <div class="stat-text">Doctor Specialization</div>
                        </a>
                        </div>
                       
                    </div>
                </div>
                <!-- /# card -->
            </div>
            <!-- /# column -->
        </div>
    </div>
</div>

{% endblock %}