{% extends 'adminbase.html' %}
{% block content %}

<div class="content-body">
    <!-- row -->
    <div class="container-fluid">
        <a href="#" id="goBackButton" class="btn btn-light">
            <span class="fa fa-arrow-left"></span> 
        </a>
        <script>
        document.getElementById("goBackButton").addEventListener("click", function() {
        window.history.back();
        });
        </script>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Patient Records</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered verticle-middle table-responsive-sm">
                                <thead class="thead-dark">
                                    <tr style="color:black">
                                        <th>Name</th>
                                        <th>Image</th>
                                        <th>Symptoms</th>
                                        <th>Mobile</th>
                                        <th>Address</th>
                                        
                                        <th style="text-align:center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Lew Shawon</td>
                                        <td><span>image</span></td>
                                        <td><span>Dell-985</span></td>
                                        <td><span>456 pcs</span></td>
                                        <td><span>Department</span></td>
                                        <td style="text-align:center">
                                        <span>
                                            <a href="javascript:void()" class="mr-4" data-toggle="tooltip"
                                                data-placement="top" ><i
                                                    class="fa fa-pencil color-muted"></i> </a>
                                            <a href="javascript:void()" data-toggle="tooltip"
                                                data-placement="top" ><i
                                                    class="fa fa-close color-danger"></i></a>
                                        </span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}